* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
  }
  
  .app {
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
    align-items: center;
    height: 200px;
    background-color: transparent;
  }

  
    .logout-btn {
      background-color: transparent;
      border: none;
    }

  .svg-inline--fa  {
    display: var(--fa-display, inline-block);
    color: rgb(0, 28, 28);
    height: 30px;
  }

  .public {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    background-color: #3339;
  }

  .public-img-container {
    position: relative;
    display: inline-block;
    background-image: url("../public/landing-water.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 60%;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
  }

  .public-right-side {
    display: flex;
    height: 100%;
    width: 40%;
    padding: 50px;
    background-color: white;
    flex-direction: column;
  }

  .public-right-content {
    position: relative;
    top: 500px;
    }

  .inspiration-btn {
    position: relative;
    top: 30px;
    left: 200px;
    height: 40px;
    width: 200px;
    padding:5px;
    border-radius: 20px;
    color: white;
    background: black;
  }
  
  .profile-btn {
    position: relative;
    top: 300px;
    left: -100px;
    height: 40px;
    width: 200px;
    padding:5px;
    border-radius: 10px;
    color: white;
    background: #3164F4;

  }

    .img-container {
    position: relative;
    display: inline-block;
    background-image: url("../public/login-sand.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    background-color: rgb(0, 0, 0);
  }
  

  .auth-container {
    align-items: center;
    position: relative;
    display: inline-block;
    /* justify-content: space-between; */
    background: white;
    border-radius: 15px;
    padding: 15px;
    top: -900px;
    left: 900px;
    height: 400px;
    width: 300px;
  }
  
  .auth-container > h1 {
    font-size: 2em;
    margin: 24px;
  }
  
  .auth-container > p {
    margin: 16px;
    text-decoration: underline;
  }
  
  .auth-container > form {
    padding: 20px;
    border-radius: 5px;
    background-color:white;
  
    display: flex;
    flex-direction: column;
  }
  
  .auth-container > form > input {
    margin: 16px 8px;
    padding: 8px;
    border: none;
    box-shadow: 1px 1px 10px #c0c0c0;
    border-radius: 15px;
  }
  
  .auth-container > form > button {
    margin: 16px 8px;
    padding: 8px;
    height: 45px;
    color: white;
    background-color: #3164F4;
    border-radius: 10px;
  }
  
  .reflection-list {
  
  }
  
  .reflection {
  
  }
  
  .public {
    height: 100vh;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .profile > h1 {
    margin: 8px;
    font-size: 2em;
    text-align: center;
  }
  
  .profile > h3 {
    margin: 16px 0;
    text-decoration: underline;
  }
  
  .profile > form {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border: 1px solid #3339;
    background-color: #aaa9;
    padding: 16px;
    border-radius: 5px
  }
  
  .profile > form > input,
  .profile > form > button {
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px
  }